
.machine {
    color:red;
    border-bottom:  1px solid black;
    text-align: center;
    padding: 10px 0;
    font-family: "Lucida Console", Monaco, monospace;
  }
  
.machine.active{
    color: green;
}
.header,.footer{
    color: black;
    text-align: center;
    background-color: grey;
    padding: 30px 0;
    font-family: Verdana, Geneva, sans-serif;
  
}
.bouton {
	font:Bold 13px Arial;
	background:#d34836;
	color:chartreuse;
	width:90px;
	border-radius:2px;
	border:none;
}